.App {
    font-family: sans-serif;
    text-align: center;
 }
 body{
   background:yellowgreen;
 }
 .title{
   padding: 30px;
   text-align: center;
 }

 .todolist{
  
 
  list-style: none;
  padding: 20px;
  width: 500px;
  margin-left: 420px;
 }
  
 .todo{
  display: flex;
  color: red;
  background: aqua;
  margin: 20px;
  height: 45px;
  text-align: left;
  padding:8px;
  
}
.button1{
  position: fixed;
    left: 800px;
  
}
 